- if current_user.present?
	.row
		.span3.col-md-offset-1{ style: "width: 500px;" }
			%h4 Hobbies
			.nav.pull-left
				%a.btn.btn-primary{ :href => new_hobbies_path, style: "margin-bottom: 18px;" }
					New hobby
	.row
		.span3.col-md-offset-1
			%table.table.table-hover{ style: "width: 500px;" }
				%th
					name
				%th
				-if @hobbies.present?
					- @hobbies.each do |hobby|
						%tr
							%td
								= link_to hobby.name, edit_hobbies_path(hobby.id), method: :get
							%td{ style: "text-align:right" }
								%a.glyphicon.glyphicon-remove{ :href => destroy_hobbies_path(hobby.id) }
								=# link_to "delete", destroy_hobbies_path(hobby.id), method: :post, disable_with: 'deleting...'